
include ../blocks/front/front.pug
include ../blocks/logo/logo.pug
include ../blocks/item/item.pug
include ../blocks/animation/animation.pug
include ../blocks/footer/footer.pug
include ../blocks/content/content.pug
include ../blocks/socials/socials.pug
include ../blocks/picture/picture.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/share/share.pug