head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title Летопись Лидера
  // Favicon
  link(rel='apple-touch-icon', sizes='180x180', href='./img/favicon/white@apple-touch-icon180.png')
  link(rel='apple-touch-icon', sizes='167x167', href='./img/favicon/white@apple-touch-icon167.png')
  link(rel='apple-touch-icon', sizes='152x152', href='./img/favicon/white@apple-touch-icon152.png')
  link(rel='apple-touch-icon', sizes='120x120', href='./img/favicon/white@apple-touch-icon120.png')
  link(rel='icon', type='image/png', sizes='96x96', href='./img/favicon/white@96w.png')
  link(rel='icon', type='image/png', sizes='32x32', href='./img/favicon/white@32w.png')
  link(rel='icon', type='image/png', sizes='16x16', href='./img/favicon/white@16w.png')
  meta(name='theme-color', content='#1dabbc')
  //link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='css/style.css')
  link(rel='shortcut icon', href='./img/favicon.ico', type='image/x-icon')
  meta(name='description', content='Миллионный пользователь на Leader-ID. Вспоминаем о важных событиях, которые прошли вместе с вами.')
  meta(property='og:title', content='Летопись Лидера')
  meta(property='og:image', content='./img/fb-share.png')
  meta(property='vk:image', content='./img/vk-share.png')
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="format-detection", content="telephone=no")
  // Put this script tag to the <head> of your page
  script(type='text/javascript', src='https://vk.com/js/api/share.js?95', charset='windows-1251')
