mixin picture(data)
  .picture&attributes(attributes)
    case data.id
    
      when 'picture1'
        .picture__main.picture__main--picture1
          include ./img/picture1.svg
          .picture__part
            include ./img/picture1-part.svg
            
      when 'picture2'
        .picture__main.picture__main--picture2
          include ./img/picture2.svg
          .picture__part
            include ./img/picture2-part.svg
            
      when 'picture3'
        .picture__main.picture__main--picture3
          include ./img/picture3.svg
          .picture__part.picture__part--1
            include ./img/picture3-part1.svg
          .picture__part.picture__part--2
            include ./img/picture3-part2.svg
          .picture__part.picture__part--3
            include ./img/picture3-part3.svg
            
      when 'picture4'
      
        .picture__main.picture__main--picture4-5
          include ./img/picture4-5.svg
          .picture__part
            include ./img/picture4-5-part.svg
            
            
        .picture__main.picture__main--picture4
          include ./img/picture4.svg
          .picture__part.picture__part--1
            include ./img/picture4-part1.svg
          .picture__part.picture__part--2
            include ./img/picture4-part2.svg
          .picture__part.picture__part--3
            include ./img/picture4-part3.svg
            
      when 'picture5'
        .picture__main.picture__main--picture5
          include ./img/picture5.svg
          .picture__bg
          .picture__part
            include ./img/picture5-part.svg
            
      when 'picture6'
        .picture__main.picture__main--picture6
          include ./img/picture6.svg
          .picture__part.picture__part--1
            include ./img/picture6-part1.svg
          .picture__part.picture__part--2
            include ./img/picture6-part2.svg
          .picture__part.picture__part--3
            include ./img/picture6-part3.svg
          .picture__part.picture__part--4
            include ./img/picture6-part4.svg
          .picture__part.picture__part--5
            include ./img/picture6-part5.svg
            
      when 'picture7'
        .picture__main.picture__main--picture7
          include ./img/picture7.svg
          .picture__part
            include ./img/picture7-part.svg
            
      when 'picture8'
        .picture__main.picture__main--picture8
          include ./img/picture8.svg
          .picture__main-bg
            include ./img/picture8-bg.svg
          .picture__part
            include ./img/picture8-part.svg
            
      when 'picture9'
        .picture__main.picture__main--picture9
          include ./img/picture9.svg
          .picture__part
            include ./img/picture9-part.svg
            
      when 'picture10'
        .picture__main.picture__main--picture10
          include ./img/picture10.svg
          .picture__part.picture__part--1
            include ./img/picture10-part1.svg
          .picture__part.picture__part--2
            include ./img/picture10-part2.svg
          .picture__part.picture__part--3
            include ./img/picture10-part3.svg
            
      when 'picture11'
        .picture__main.picture__main--picture11
          include ./img/picture11.svg
          .picture__part
            include ./img/picture11-part.svg
            
      when 'picture12'
        .picture__main.picture__main--picture12
          include ./img/picture12.svg
          .picture__part.picture__part--1
            include ./img/picture12-part1.svg
          .picture__part.picture__part--2
            include ./img/picture12-part2.svg
            
      when 'picture13'
        .picture__main.picture__main--picture13
          include ./img/picture13.svg
          .picture__part.picture__part--1
            include ./img/picture13-part1.svg
          .picture__part.picture__part--2
            include ./img/picture13-part2.svg
          .picture__part.picture__part--3
            include ./img/picture13-part3.svg
          .picture__part.picture__part--4
            include ./img/picture13-part4.svg
            
      when 'picture14'
        .picture__main.picture__main--picture14
          include ./img/picture14.svg
          .picture__bg
          .picture__part.picture__part--1
            include ./img/picture14-part1.svg
          .picture__part.picture__part--2
            include ./img/picture14-part2.svg
          .picture__part.picture__part--3
            include ./img/picture14-part3.svg
            
      when 'picture15'
        .picture__main.picture__main--picture15
          include ./img/picture15.svg
          .picture__part
            include ./img/picture15-part.svg
            
      when 'picture16'
        .picture__main.picture__main--picture16
          include ./img/picture16.svg
          .picture__part
            include ./img/picture16-part.svg
            
      when 'picture17'
        .picture__main.picture__main--picture17
          include ./img/picture17.svg
          .picture__part.picture__part--1
            include ./img/picture17-part1.svg
          .picture__part.picture__part--2
            include ./img/picture17-part2.svg
            
      when 'picture18'
        .picture__main.picture__main--picture18
          include ./img/picture18.svg
          .picture__part
            include ./img/picture18-part.svg
            
      when 'picture19'
        .picture__main.picture__main--picture19
          include ./img/picture19.svg
          .picture__part
            include ./img/picture19-part.svg
            
      default
        p Изображение недоступно
