mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item.socials__item--fb(href="https://m.me/youngprofs", target="_blank")
    a.socials__item.socials__item--tg(href="https://tele.gg/leaderid_bot", target="_blank")
    //a.socials__item.socials__item--vk(href="https://vk.me/tboil_people", target="_blank")
