mixin item(data)
  .item&attributes(attributes)
    +picture({
      id: data.picture,
    }).item__picture
    .item__content
      h3= data.title
      each val in data.dscr
        p!= val
      if block
        block
