mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__top
        .footer__top-left
          a.footer__logo(href="https://leader-id.ru/", target="_blank")
            img.footer__logo-img(src="./img/footer-logo.svg", alt)
          .footer__text.d-none.d-sm-block Система поддержки лидеров
        .footer__top-right
          a.footer__phone(href="tel:88005504954") 8 800 550-49-54
          +socials
      .footer__bottom
        .footer__bottom-left
          p.footer__bottom-text.mb-0 © Leader ID, 2020
        .footer__bottom-right
          a.footer__bottom-text(href="https://leader-id.ru/page/user/agreement", target="_blank") Пользовательское соглашение
          a.footer__bottom-text(href="https://leader-id.ru/page/info/confident", target="_blank") Политика конфиденциальности
