mixin front(data)
  .front&attributes(attributes)
    .container
      +logo.front__logo
      h1.text-white 9 апреля в 22<span></span>:<span></span>07 на Leader-ID зарегистрировался миллионный пользователь!
      p.front__dscr По этому случаю мы решили издать Летопись, вспомнив о важных событиях, которые прошли вместе с вами.
      img.img-fluid(src="./img/1kk.svg", alt="1 000 000")
