mixin content(data)
  .content&attributes(attributes)
    +item({
      picture: 'picture1',
      title: '9 августа 2013',
      dscr: ['9 августа 2013 года на Лидере зарегистрировался первый нетестовый пользователь. Система присвоила ему ID 20. Это была <a href="https://leader-id.ru/20/", target="_blank">Алина Досканова</a>.', 'Впоследствии она станет техническим делегатом российской сборной WorldSkills и внесет значимый вклад в <a href="https://nationalteam.worldskills.ru/about/", target="_blank">победы нашей команды</a>.']
    }).item--left.item--big.item--1
    +item({
      picture: 'picture3',
      title: '12 сентября 2013',
      dscr: ['Присоединился первый участник рейтинга Форбс «200 самых богатых бизнесменов России» <a href="https://leader-id.ru/209/", target="_blank">Алексей Репик</a>. После него в Leader-ID зарегистрируются еще трое участников рейтинга: <a href="https://leader-id.ru/26608/", target="_blank">Сергей Генералов</a>, <a href="https://leader-id.ru/282804/", target="_blank">Игорь Рыбаков</a> и <a href="https://leader-id.ru/266908/", target="_blank">Давид Ян</a>. Интересно, что их позиции в рейтинге вырастут сразу после регистрации в Leader-ID...']
    }).item--vertical.text-center.item--3
    +item({
      picture: 'picture2',
      title: '2 сентября 2013',
      dscr: ['Появился первый предприниматель — <a href="https://leader-id.ru/44/", target="_blank">Юрий Ельцов</a> из Благовещенска. Спустя 5 лет поедет учиться на Остров 10-21, а через пару месяцев после интенсива возглавит Торгово-промышленную палату Амурской области.']
    }).item--vertical.text-center.item--2
    +item({
      picture: 'picture5',
      title: '8 апреля 2014',
      dscr: ['Для участия в Дальневосточном вызове на Leader-ID пришел первый иностранец — житель Беларуси <a href="https://leader-id.ru/12778/", target="_blank">Андрей Игнатюк</a>. Впоследствии к нам присоединятся еще 8225 иностранцев.']
    }).item--vertical.text-center.item--content-sm.item--5
    +item({
      picture: 'picture4',
      title: '19 декабря 2013',
      dscr: ['Зарегистрировался <a href="https://leader-id.ru/1432/", target="_blank">Петр Щедровицкий</a>. Он будет самым нашим любимым лектором — мы отправим 8 рассылок на 20 000 человек, чтобы они тоже пришли на его выступления. Больше мы так не рекламировали никого.']
    }).item--vertical.text-center.item--4
    +item({
      picture: 'picture7',
      title: '',
      dscr: ['']
    }).item--7
    +item({
      picture: 'picture6',
      title: '8 декабря 2014 года',
      dscr: ['Данные из Leader-ID прочитал первый партнер, подключившийся по API, — лидерский проект Агентства стратегических инициатив <a href="http://globalmanager.ru/", target="_blank">Global Management Challenge</a>. Это потом число наших партнеров вырастет до 160, а проект GMC вырастит 5 команд — мировых чемпионов.']
    }).item--vertical.text-center.item--6
    +item({
      picture: 'picture8',
      title: '1 марта 2015',
      dscr: ['<a href="https://leader-id.ru/360/", target="_blank">Дмитрий Земцов</a> зашел по своему профилю в Leader-ID на сайт АСИ, чтобы подать проект на поддержку.', 'Он получит отказ, через месяц поедет на Форсайт-флот, станет  лидером <a href="https://kruzhok.org/", target="_blank">Кружкового движения</a>, а спустя 2 года получит должность проректора Дальневосточного федерального университета.']
    }).item--right.item--big.item--8
    +item({
      picture: 'picture9',
      title: '13 апреля 2015',
      dscr: ['К Лидеру присоединился первый школьник — <a href="https://leader-id.ru/24326/", target="_blank">Иван Гребенюк</a>. Он пришел ради участия в презентации второй версии <a href="http://atlas100.ru/", target="_blank">Атласа новых профессий</a>.']
    }).item--vertical.item--content-sm.text-center.item--9
    +item({
      picture: 'picture10',
      title: '14 января 2016',
      dscr: ['<a href="https://leader-id.ru/26683/", target="_blank">Павел Фролов</a> пришел на первое мероприятие Лидера. Потом он посетит еще 109 мероприятий, везде поставит роллапы с логотипом <a href="http://robbo.ru/", target="_blank">РОББО</a>, обеспечит оборудованием 25 школ Финляндии, откроет кружок в Бангкоке и начнет готовиться к активной экспансии в Японию и Германию.']
    }).item--vertical.text-center.item--10
    +item({
      picture: 'picture11',
      title: '12 июля 2016',
      dscr: ['<a href="https://leader-id.ru/926604/", target="_blank">Валерий Фальков</a> зарегистрировался на Leader-ID. Через 3 года он подаст заявку на участие в Острове 10&#8209;22 и спустя 336 дней станет министром науки и высшего образования.']
    }).item--left.item--big.item--11
    +item({
      picture: 'picture13',
      title: '15 августа 2016',
      dscr: ['Мы нечаянно одобрили первое платное мероприятие на Leader-ID. Этим мероприятием стал <a href="https://leader-id.ru/event/2669/", target="_blank">MIXAR</a> — конференция по новейшим технологиям. С тех пор стали внимательнее.']
    }).item--vertical.text-center.item--content-sm.item--13
    +item({
      picture: 'picture12',
      title: '23 июля 2016',
      dscr: ['На Лидере провели <a href="https://leader-id.ru/event/2552/", target="_blank">первое мероприятие</a> про вампиров. Его организовала Курилка Гутенберга в Доме культуры ВДНХ.']
    }).item--vertical.text-center.item--content-sm.item--12
    +item({
      picture: 'picture14',
      title: '20 октября 2016',
      dscr: ['Открылась вторая Точка кипения — в Санкт-Петербурге. После нее появится еще <a href="https://leader-id.ru/points/", target="_blank">87 Точек</a>, благодаря их активности зарегистрируются 906 825 новых пользователей, 439 372 из них примут участие в мероприятиях.']
    }).item--right.item--big.item--14
    +item({
      picture: 'picture15',
      title: '7 января 2017',
      dscr: ['Под Рождество, международная организация <a href="https://aiesec.ru/", target="_blank">AIESEC</a> хотела торжественно избрать своего президента в стенах Точки кипения, но получила отказ. Айсекеры вернутся спустя полгода, чтобы провести стратегическую сессию. Им понравится, и они проведут еще 58 мероприятий. Будут хотеть больше, но 41 мероприятие отклонят Точки. ']
    }).item--vertical.text-center.item--15
    +item({
      picture: 'picture16',
      title: '6 марта 2019',
      dscr: ['Зарегистрировался бот <a href="https://leader-id.ru/465896/", target="_blank">Александр Сергеевич Пушкин</a>. Из любви к поэту мы не станем удалять его профиль, но станем предусмотрительнее — теперь новые пользователи тыкают в троллейбусы и пешеходные переходы при регистрации.']
    }).item--vertical.text-center.item--16
    +item({
      picture: 'picture17',
      title: '20 июля 2019',
      dscr: ['В Лидер пришел бывший министр экономического развития <a href="https://leader-id.ru/604991/", target="_blank">Максим Орешкин I</a>. Спустя 4 месяца — <a href="https://leader-id.ru/951450/", target="_blank">Максим Орешкин II</a>. Это не первый случай борьбы за престол — самая ожесточенная развернулась среди ректоров Московского городского педагогического университета — среди них аж 7 <span class="nowrap">лже-Игорей</span>.']
    }).item--vertical.text-center.item--17
    +item({
      picture: 'picture18',
      title: '10 января 2020',
      dscr: ['Пользователь в качестве подтверждения компетенции «Организация собственной работы» прислал… скан паспорта. С годами мы соберем целый музей оригинальных подтверждений, среди которых будут фотографии идеально подстриженного газона, лопаты в сугробе и фотография военного билета. У нас самые компетентные и креативные пользователи!']
    }).item--vertical.text-center.item--18
    +item({
      picture: 'picture19',
      title: 'Но главное — к нам присоединились вы!',
      dscr: ['Данные для летописи мы взяли из системы Leader-ID — совпадения и недостоверные факты возможны. Соблюдайте цифровую гигиену и сообщайте правильные данные — тогда следующая Летопись будет еще интереснее.', 'Спасибо, что вы с нами! ']
    }).item--left.item--big.item--19
      .share.mt-30
        p.mb-0.mr-20 Поделиться:
        .share__item.share__item--vk
          // Put this script tag to the place, where the Share button will be
          script(type='text/javascript').
            <!--
            document.write(VK.Share.button({url: "https://1000000.leader-id.ru/"},{type: "round", text: "Поделиться"}));
            -->
        //a.share__link.share__link--vk(href="https://vk.com/share.php?url=https://1000000.leader-id.ru/") 
          .share__link-content 0
        //.share__item.share__item--fb
          .fb-share-button(data-href='https://developers.facebook.com/docs/plugins/', data-layout='button_count', data-size='small')
            a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse') Поделиться

          //.fb-like(data-href='https://1000000.leader-id.ru/', data-width='', data-layout='button_count', data-action='like', data-size='small', data-share='true')
        a.share__link.share__link--fb(href="https://www.facebook.com/sharer/sharer.php?u=https://1000000.leader-id.ru/")
          .share__link-content 0
    img.content__more(src="./img/content-more.svg", alt)
